ul {
  padding-left: initial; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  min-height: 100%;
  text-align: center;
  background-color: #dfe6e9; }

header {
  grid-area: header;
  background-color: #23272b;
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.99;
  position: sticky;
  z-index: 2; }

.cover {
  grid-area: fondo; }

.section {
  grid-area: main; }

.shop {
  grid-area: shop; }

.esports {
  grid-area: esports; }

.servers {
  grid-area: servers; }

.awards {
  grid-area: awards; }

.contacto {
  grid-area: contacto; }

.aside {
  grid-area: sidebar; }

footer {
  grid-area: footer;
  background-color: #23272b; }

@media only screen and (min-width: 320px) {
  /*----------GRID INDEX-----------*/
  .grid-container-index {
    display: grid;
    grid-template: "header" auto   "fondo" auto "main" auto "sidebar" auto "footer" auto / 1fr; }
  /*---------------------------------*/
  /*------------GRID SHOP------------*/
  .grid-container-shop {
    display: grid;
    grid-template: "header" auto    "shop" auto "footer" 220px / 1fr; }
  .shop {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  #product1 {
    background-color: white;
    margin: 20px;
    width: 80%; }
  #product2 {
    background-color: white;
    margin: 20px;
    width: 80%; }
  #product3 {
    background-color: white;
    margin: 20px;
    width: 80%; }
  #product1 a {
    text-decoration: none; }
  #product2 a {
    text-decoration: none; }
  #product3 a {
    text-decoration: none; }
  .product__img {
    width: 90%; }
  .product__box__title {
    padding: 20px; }
  .product__title {
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: black; }
  /*----------------------------------*/
  /*-----------GRID ESPORTS-----------*/
  .grid-container-esports {
    display: grid;
    grid-template: "header" auto    "esports" auto "footer" 220px / 1fr; }
  .esports {
    margin: 10px; }
  .box-img-section {
    width: 100%; }
  .box-img {
    margin-top: 10px;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    width: 200px; }
  .img-players {
    width: 150px;
    border-radius: 50%; }
  .players {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
    height: 200px;
    background-color: white;
    border-radius: 20px; }
  .info-players {
    text-align: start;
    font-family: 'Roboto';
    font-size: 0.1rem;
    text-transform: uppercase; }
  .role-players {
    font-size: 1.2rem;
    color: #3b3b3b; }
  .country-players {
    font-size: 1.2rem;
    font-weight: 500; }
  /*----------------------------------*/
  /*-----------GRID AWARDS-----------*/
  .grid-container-awards {
    display: grid;
    grid-template: "header" 95px  "awards" auto "footer" 220px / 1fr; }
  iframe {
    width: 100%;
    height: 100%; }
  .awards {
    width: 100%;
    height: 100%; }
  /*-----------------------------------*/
  /*-----------GRID CONTACTO-----------*/
  .grid-container-contacto {
    display: grid;
    grid-row-gap: 20px;
    grid-template: "header" 95px "contacto" auto "footer" 220px / 1fr; }
  .form {
    text-align: start;
    width: 80%;
    height: auto;
    background-color: #23272b;
    padding: 30px;
    margin: auto;
    border-radius: 4px; }
  .contacto {
    margin: auto; }
  .form-title {
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
    margin-bottom: 20px; }
  .form-place {
    border-radius: 4px;
    font-size: 13px;
    border: 1px solid #aaaaaa;
    background-color: #23272b;
    color: white;
    margin-bottom: 10px;
    font-family: 'Roboto';
    width: 100%;
    padding: 10px; }
  .form-text-area {
    border-radius: 4px;
    font-size: 13px;
    border: 1px solid #aaaaaa;
    background-color: #23272b;
    color: white;
    font-family: 'Roboto';
    padding: 4px;
    height: 100px;
    width: 100%;
    resize: none; }
  .terminos {
    margin: 20px 0;
    color: white;
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
    display: block;
    height: auto; }
  .terminos a {
    color: white;
    text-decoration: underline; }
  .terminos a:hover {
    color: #7147e7;
    text-decoration: underline; }
  .boton {
    width: 100%;
    background-color: white;
    border: none;
    text-transform: capitalize;
    font-family: 'Roboto';
    font-size: 16px;
    padding: 16px 0;
    cursor: pointer; }
  .boton:hover {
    color: white;
    background-color: #aaaaaa; }
  /*---------------------------------*/
  .cover {
    width: 100%;
    margin: 0 0; }
  .cover__img {
    width: 100%;
    margin: 0 0; }
  .cover__info {
    display: none; }
  .cover__img {
    width: 100%;
    min-height: 40px;
    margin: 0 0; }
  .article {
    background-color: white; }
  .article__link {
    text-decoration: none; }
  .article__img {
    width: 100%; }
  .article__info {
    padding: 10px;
    text-align: justify;
    text-decoration: none;
    color: black; }
  .article__title {
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase; }
  .article__text {
    padding: 5px 0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif; }
  .aside {
    z-index: 1; }
  .aside__title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 2.6rem;
    padding-top: 20px; }
  .aside__text--alternative {
    background-color: #23272b;
    color: white;
    opacity: 0.9; }
  .aside__text a {
    background-color: white;
    color: black; }
  .aside__box {
    z-index: 1;
    background-color: white; }
  .aside__box ul {
    list-style-position: inside;
    text-align: center;
    line-height: 5rem; }
  .aside__box a {
    margin: 2px 2px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem; }
  .top-margin {
    margin-top: 10px; }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px; }
  .footer__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: white;
    margin-bottom: -1rem; }
  .footer__bar {
    background-color: white;
    width: 150px;
    height: 1px;
    margin: 20px 0; }
  .buttons a {
    text-decoration: none; }
  .buttons__social__media {
    width: 35px;
    height: 35px;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 6px; }
  .instagram:hover {
    background-color: #da2d7c; }
  .twitter:hover {
    background-color: #1da1f3; }
  .youtube:hover {
    background-color: #fe0000; }
  .facebook:hover {
    background-color: #1977f3; }
  .buttons__social__media {
    transition: 0.3s;
    background-color: #dfe6e9; } }

@media only screen and (min-width: 600px) {
  /*------------GRID INDEX------------*/
  .grid-container-index {
    grid-template: "header header header" 95px "fondo fondo fondo" auto "main main sidebar "  auto "footer footer footer" auto / 1fr 1fr 1fr;
    column-gap: 20px; }
  /*----------------------------------*/
  /*------------GRID SHOP------------*/
  .grid-container-shop {
    display: grid;
    grid-template: "header header header" 95px "shop shop shop" auto "footer footer footer" 220px / 1fr; }
  .shop {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; }
  #product1 {
    margin: 10px;
    width: 400px;
    height: 430px; }
  #product2 {
    margin: 10px;
    width: 400px;
    height: 430px; }
  #product3 {
    margin: 10px;
    width: 400px;
    height: 430px; }
  .product__img {
    width: 90%; }
  .product__box__title {
    padding: 20px; }
  .product__title {
    transition: 0.5s;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: black; }
  .product__box__img {
    transition: 0.5s; }
  .product__box__img:hover {
    transform: scale(1.1, 1.1);
    transition: 0.5s; }
  .product__title:hover {
    letter-spacing: 2rem;
    padding-left: 0.7rem;
    transition: all 0.5s; }
  /*----------------------------------*/
  /*-----------GRID ESPORTS-----------*/
  .grid-container-esports {
    display: grid;
    grid-template: "header header header" 95px   "esports esports esports" auto "footer footer footer" 220px / 1fr; }
  .esports {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%; }
  .csgo {
    width: 100%;
    margin: auto; }
  .flex-players {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  .box-img-section {
    width: 100%; }
  .players {
    flex-flow: column nowrap;
    height: 300px;
    width: 200px;
    margin: 15px;
    border-radius: 20px; }
  .info-players {
    text-align: center; }
  .role-players {
    margin: 5px 0; }
  /*----------------------------------*/
  /*-----------GRID AWARDS-----------*/
  .grid-container-awards {
    display: grid;
    grid-template: "header header header" 95px "awards awards awards" auto "footer footer footer" 200px / 1fr 1fr 1fr; }
  /*-----------------------------------*/
  /*-----------GRID CONTACTO-----------*/
  .grid-container-contacto {
    display: grid;
    grid-row-gap: 20px;
    grid-template: "header header header" 95px   "contacto contacto contacto" auto "footer footer footer" 220px / 1fr; }
  .contacto {
    margin: auto;
    width: 500px; }
  /*---------------------------------*/
  .aside__title {
    font-size: 2em; }
  .aside-box a {
    font-size: 1rem; }
  .top-margin {
    margin-top: 20px; }
  .font-small {
    font-size: 1rem; } }

@media only screen and (min-width: 1200px) {
  /*------------GRID INDEX------------*/
  .grid-container-index {
    grid-column-gap: 20px;
    grid-template: "header header header header" 95px "fondo fondo fondo fondo" auto ". main sidebar ."  auto "footer footer footer footer" 100px / auto 700px 300px auto; }
  /*----------------------------------*/
  /*------------GRID SHOP------------*/
  .grid-container-shop {
    display: grid;
    grid-template: "header header header header" 95px "shop shop shop shop" auto "footer footer footer footer" 100px / 1fr; }
  /*----------------------------------*/
  /*-----------GRID ESPORTS-----------*/
  .grid-container-esports {
    display: grid;
    grid-template: "header header header header" 95px "esports esports esports esports" auto "footer footer footer footer" 100px / 1fr; }
  /*----------------------------------*/
  /*-----------GRID SERVERS-----------*/
  .grid-container-servers {
    display: grid;
    grid-template: "header header header header" 95px "servers servers servers servers" auto "footer footer footer footer" 100px / 1fr; }
  /*---------------------------------*/
  /*-----------GRID AWARDS-----------*/
  .grid-container-awards {
    display: grid;
    grid-template: "header header header header" 95px "awards awards awards awards" auto "footer footer footer footer" 100px / 1fr 1fr 1fr; }
  /*-----------------------------------*/
  /*-----------GRID CONTACTO-----------*/
  .grid-container-contacto {
    display: grid;
    grid-template: "header header header header" 95px  "contacto contacto contacto contacto" auto "footer footer footer footer" 100px / 1fr; }
  /*---------------------------------*/
  .cover__img {
    filter: blur(4px);
    transition: 5s; }
  #animation__coscu {
    font-family: 'Montserrat', sans-serif;
    font-size: 7rem;
    letter-spacing: 2rem;
    animation-name: efecto;
    animation-timing-function: ease-in;
    animation-duration: 2s; }
  @keyframes efecto {
    0% {
      letter-spacing: -10rem; }
    20% {
      letter-spacing: 1rem; }
    100% {
      letter-spacing: 2rem; } }
  .cover__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    color: white;
    text-transform: uppercase; }
  .cover__info {
    text-shadow: 1px 1px 2px black;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
  .footer__bar {
    margin: 0 10em; }
  .footer {
    flex-direction: row; }
  .footer__text {
    font-size: 1.2rem; }
  .footer__bar {
    width: 1px;
    height: 50px;
    margin: 0 2em; }
  .font-small {
    font-size: 2rem; } }
