ul {
  padding-left: initial; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  min-height: 100%;
  text-align: center;
  background-color: #dfe6e9; }

header {
  grid-area: header;
  background-color: #23272b;
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.99;
  position: sticky;
  z-index: 2; }

.cover {
  grid-area: fondo; }

.section {
  grid-area: main; }

.shop {
  grid-area: shop; }

.esports {
  grid-area: esports; }

.servers {
  grid-area: servers; }

.awards {
  grid-area: awards; }

.form {
  grid-area: contacto; }

.aside {
  grid-area: sidebar; }

footer {
  grid-area: footer;
  background-color: #23272b; }

@media only screen and (min-width: 320px) {
  /*----------GRID INDEX-----------*/
  .grid-container-index {
    display: grid;
    grid-template: "header" auto   "fondo" auto "main" auto "sidebar" auto "footer" auto / 1fr; }
  /*---------------------------------*/
  /*------------GRID SHOP------------*/
  .grid-container-shop {
    display: grid;
    grid-template: "header" auto    "shop" auto "footer" 220px / 1fr; }
  .shop {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  #product1 {
    background-color: white;
    margin: 20px;
    width: 80%; }
  #product2 {
    background-color: white;
    margin: 20px;
    width: 80%; }
  #product3 {
    background-color: white;
    margin: 20px;
    width: 80%; }
  #product1:hover {
    background-color: #23272b;
    transition: .5s; }
  #product2:hover {
    background-color: #23272b;
    transition: .5s; }
  #product3:hover {
    background-color: #23272b;
    transition: .5s; }
  .product__img {
    width: 90%; }
  /*----------------------------------*/
  /*-----------GRID ESPORTS-----------*/
  .grid-container-esports {
    display: grid;
    grid-template: "header" auto    "esports" auto "footer" 220px / 1fr; }
  .esports__box {
    margin: auto; }
  .esports {
    margin: 10px; }
  .esports__img__section {
    width: 100%; }
  .esports__img {
    opacity: 100%;
    margin-top: 10px;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    width: 200px; }
  .players__link {
    text-decoration: none; }
  .players__img {
    opacity: 100%;
    width: 150px;
    border-radius: 50%; }
  .players__box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    color: #23272b; }
  .players__text {
    text-align: start;
    text-transform: uppercase; }
  .players__role {
    font-size: 1.2rem; }
  .players__country {
    font-size: 1.2rem;
    font-weight: 500; }
  /*----------------------------------*/
  /*-----------GRID AWARDS-----------*/
  .grid-container-awards {
    display: grid;
    grid-template: "header" 95px  "awards" auto "footer" 220px / 1fr; }
  iframe {
    width: 100%;
    height: 100%; }
  .awards {
    width: 100%;
    height: 100%; }
  /*-----------------------------------*/
  /*-----------GRID CONTACTO-----------*/
  .grid-container-contacto {
    display: grid;
    grid-row-gap: 20px;
    grid-template: "header" 95px "contacto" auto "footer" 220px / 1fr; }
  .form__box {
    text-align: start;
    width: 80%;
    height: auto;
    background-color: #23272b;
    padding: 30px;
    margin: auto;
    border-radius: 4px; }
  .form {
    margin: auto; }
  .form__title {
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
    margin-bottom: 20px; }
  .form__place, .form__text__area {
    border-radius: 4px;
    font-size: 13px;
    border: 1px solid #aaaaaa;
    background-color: #23272b;
    color: white;
    margin-bottom: 10px;
    font-family: 'Roboto';
    width: 100%;
    padding: 10px; }
  .form__text__area {
    padding: 6px 10px;
    height: 100px;
    resize: none; }
  .form__terms {
    margin: 20px 0;
    color: white;
    font-family: 'Roboto';
    font-size: 16px;
    text-align: center;
    display: block;
    height: auto; }
  .form__terms a {
    color: white;
    text-decoration: underline; }
  .form__terms a:hover {
    color: #7147e7;
    text-decoration: underline; }
  .boton {
    width: 100%;
    background-color: white;
    border: none;
    text-transform: capitalize;
    font-family: 'Roboto';
    font-size: 16px;
    padding: 16px 0;
    cursor: pointer; }
  .boton:hover {
    color: white;
    background-color: #aaaaaa; }
  /*---------------------------------*/
  .cover {
    width: 100%;
    margin: 0 0; }
  .cover__img {
    width: 100%;
    margin: 0 0; }
  .cover__info {
    display: none; }
  .cover__img {
    width: 100%;
    min-height: 40px;
    margin: 0 0; }
  .article {
    background-color: white;
    transition: 0.2s; }
  .article:hover {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); }
  .article__link {
    text-decoration: none; }
  .article__img {
    width: 100%; }
  .article__info {
    padding: 10px;
    text-align: justify;
    text-decoration: none;
    color: black; }
  .article__title {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .article__text {
    font-size: 1rem;
    margin-bottom: -0.5rem;
    font-family: 'Roboto', sans-serif; }
  .aside {
    z-index: 1; }
  .aside__box {
    background-color: #23272b;
    padding: 20px; }
  .aside__flex {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center; }
  .aside__title {
    color: white;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .aside__staff {
    margin: 2px;
    padding: 10px;
    background-color: #23272b;
    border-radius: 8px;
    transition: .5s;
    color: white; }
  .aside__a {
    text-decoration: none; }
  .aside__staff:hover {
    background-color: white;
    color: #23272b; }
  .aside__image {
    width: 100px;
    border-radius: 50%; }
  .aside__text {
    margin-top: 10px; }
  .top-margin {
    margin-top: 10px; }
  .footer {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px; }
  .footer__text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: white;
    margin-bottom: -1rem; }
  .footer__bar {
    background-color: white;
    width: 150px;
    height: 1px;
    margin: 20px 0; }
  .buttons a {
    text-decoration: none; }
  .buttons__social__media {
    width: 35px;
    height: 35px;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 6px; }
  .instagram:hover {
    background: linear-gradient(#9400d8, #da2d7c, #ff8901); }
  .twitter:hover {
    background: linear-gradient(#1da1f3, #1da1f3); }
  .youtube:hover {
    background: linear-gradient(#fe0000, #fe0000); }
  .facebook:hover {
    background: linear-gradient(#1977f3, #1977f3); }
  .buttons__social__media {
    background-color: #dfe6e9; } }

@media only screen and (min-width: 600px) {
  /*------------GRID INDEX------------*/
  .grid-container-index {
    grid-template: "header header header" 95px "fondo fondo fondo" auto "main main sidebar "  auto "footer footer footer" auto / 1fr 1fr 1fr;
    column-gap: 20px; }
  /*----------------------------------*/
  /*------------GRID SHOP------------*/
  .grid-container-shop {
    display: grid;
    grid-template: "header header header" 95px "shop shop shop" auto "footer footer footer" 220px / 1fr; }
  .shop {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; }
  #product1 {
    margin: 10px;
    width: 400px;
    height: auto; }
  #product2 {
    margin: 10px;
    width: 400px;
    height: auto; }
  #product3 {
    margin: 10px;
    width: 400px;
    height: auto; }
  .product__img {
    width: 90%; }
  .product__box__img {
    transition: 0.5s; }
  .product__box__img:hover {
    transform: scale(1.05, 1.05);
    transition: 0.5s; }
  /*----------------------------------*/
  /*-----------GRID ESPORTS-----------*/
  .grid-container-esports {
    display: grid;
    grid-template: "header header header" 95px   "esports esports esports" auto "footer footer footer" 220px / 1fr; }
  .esports {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    opacity: 90%;
    height: 100%; }
  .esports__box {
    background-color: white;
    width: auto;
    margin: 20px;
    border-radius: 5px; }
  .players {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  .esports__img__section {
    width: 100%; }
  .players__box {
    flex-flow: column nowrap;
    height: 300px;
    width: 200px;
    margin: 15px;
    border-radius: 20px;
    transition: .3s; }
  .players__box:hover {
    background-color: #23272b;
    color: white; }
  .players__text {
    text-align: center; }
  .players__role {
    margin: 5px 0; }
  /*----------------------------------*/
  /*-----------GRID AWARDS-----------*/
  .grid-container-awards {
    display: grid;
    grid-template: "header header header" 95px "awards awards awards" auto "footer footer footer" 200px / 1fr 1fr 1fr; }
  /*-----------------------------------*/
  /*-----------GRID CONTACTO-----------*/
  .grid-container-contacto {
    display: grid;
    grid-row-gap: 20px;
    grid-template: "header header header" 95px   "contacto contacto contacto" auto "footer footer footer" 220px / 1fr; }
  .form {
    margin: auto;
    width: 500px; }
  /*---------------------------------*/
  .aside__title {
    font-size: 2em; }
  .aside-box a {
    font-size: 1rem; }
  .top-margin {
    margin-top: 20px; }
  .font-small {
    font-size: 1rem; } }

@media only screen and (min-width: 1200px) {
  /*------------GRID INDEX------------*/
  .grid-container-index {
    grid-column-gap: 20px;
    grid-template: "header header header header" 95px "fondo fondo fondo fondo" auto ". main sidebar ."  auto "footer footer footer footer" 100px / auto 700px 300px auto; }
  /*----------------------------------*/
  /*------------GRID SHOP------------*/
  .grid-container-shop {
    display: grid;
    grid-template: "header header header header" 95px "shop shop shop shop" auto "footer footer footer footer" 100px / 1fr; }
  /*----------------------------------*/
  /*-----------GRID ESPORTS-----------*/
  .grid-container-csgo {
    display: grid;
    grid-template: "header header header header" 95px "esports esports esports esports" auto "footer footer footer footer" 100px / 1fr;
    background-image: url(https://steamcdn-a.akamaihd.net/apps/csgo/blog/images/wallpaper_nologo.jpg);
    background-repeat: no-repeat;
    background-size: 100%; }
  .grid-container-rainbow {
    display: grid;
    grid-template: "header header header header" 95px "esports esports esports esports" auto "footer footer footer footer" 100px / 1fr;
    background-image: url(https://www.comunidadxbox.com/wp-content/uploads/Tom-Clancys-Rainbow-Six-Siege-Comunidad-Xbox.jpg);
    background-repeat: no-repeat;
    background-size: 100%; }
  .esports__box {
    margin: auto; }
  /*----------------------------------*/
  /*-----------GRID AWARDS-----------*/
  .grid-container-awards {
    display: grid;
    grid-template: "header header header header" 95px "awards awards awards awards" auto "footer footer footer footer" 100px / 1fr 1fr 1fr; }
  .awards {
    margin: auto;
    width: 80%;
    height: 100%; }
  /*-----------------------------------*/
  /*-----------GRID CONTACTO-----------*/
  .grid-container-contacto {
    display: grid;
    grid-template: "header header header header" 95px  "contacto contacto contacto contacto" auto "footer footer footer footer" 100px / 1fr;
    background-image: url(https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/LLLHZUXHCRGXRNHFQ4XBM2ZYJI.jpg);
    background-repeat: no-repeat;
    background-size: 100%; }
  /*---------------------------------*/
  .cover__img {
    filter: blur(4px);
    transition: 5s; }
  #animation__coscu {
    font-family: 'Montserrat', sans-serif;
    font-size: 7rem;
    letter-spacing: 2rem;
    animation-name: efecto;
    animation-timing-function: ease-in;
    animation-duration: 2s; }
  @keyframes efecto {
    0% {
      letter-spacing: -10rem; }
    20% {
      letter-spacing: 1rem; }
    100% {
      letter-spacing: 2rem; } }
  .cover__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    color: white;
    text-transform: uppercase; }
  .cover__info {
    text-shadow: 1px 1px 2px black;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
  .footer__bar {
    margin: 0 10em; }
  .footer {
    flex-direction: row; }
  .footer__text {
    font-size: 1rem; }
  .footer__bar {
    width: 1px;
    height: 50px;
    margin: 0 2em; }
  .font-small {
    font-size: 2rem; } }
